/* 
Custom styles for  
Swiper component from sliderContainer.component.jsx
*/

.swiper-slide {
  justify-content: center;
  display: flex;
  width: 100% !important;
}

.swiper-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
