node_modules/
unused/
archive/
dist/
assets/
!packages/ui-kit/src/assets
notes/
.idea/
lib/
package-lock.json
*.tsbuildinfo
gen/
*.log
lib/
!yarn.lock
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*