/* Swiper component from sliderContainer.component */

:root {
  --color-text: black;
  --color-background: lightgray;
}

.swiper-slide {
  justify-content: center;
  align-items: center;
  display: flex;
}

.swiper-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.swiper-pagination {
  position: static;
}
